<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/measures.ejs %>
    <% include ../partials/head.ejs %>
    <style>
        .workshop {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 50px;
        }

        footer {
            position: absolute;
        }
    </style>
</head>

<body>

<header>
    <% include ../partials/nav.ejs %>
</header>

<main>
    <div class="container">

        <div class="top-image"></div>

        <div class="workshop">
            <a href="/">
                <h1>Thank You!</h1>
            </a>
        </div>

    </div>

</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>

</html>
